<%-include('../admin/partials/admin-header.ejs') -%>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <%-include('../admin/partials/admin-sidebar.ejs') -%>     
       
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Form elements </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                </ol>
              </nav>
            </div>
            <div class="row">
            
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Basic form elements</h4>
                    <p class="card-description"> Basic form elements </p>
                    <form class="forms-sample" action="/admin/addCoupon" method="post" >
                      
                      <div class="form-group" >
                        <label for="exampleInputName1">Coupon Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Enter a name to your coupon" name="couponName" required>
                      </div>
                      
                      <div class="form-group">
                        <label for="exampleInputEmail3">Discount</label>
                        <input type="number" class="form-control" id="exampleInputEmail3" placeholder="Enter Discount percentage" name="discount" required>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Maximum</label>
                        <input type="number" class="form-control" id="exampleInputPassword4" placeholder="Enter maximum amount to be discounted" name="maximumDiscount" required>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Minimum purchase amount</label>
                        <input type="number" class="form-control" id="exampleInputPassword4" placeholder="Minimum purchase amount" name="minimumAmount" required>
                      </div>
                     
                      <div class="form-group">
                        <label for="exampleInputPassword4">Expiry Date</label>
                        <input type="date" class="form-control" id="exampleInputPassword4" placeholder="date to be expired" name="expiryDate" required>
                      </div>
    
                      
                      <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                      <a href="/admin/viewcoupon" class="btn btn-light">Cancel</a>
                    </form>
                  </div>
                </div>
              </div>
              
                    </div>
                  </div>
                </div>
              </div>
           </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © CodersBench.com</span>
              <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank"></a> </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/admin-assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/admin-assets/js/off-canvas.js"></script>
    <script src="/admin-assets/js/hoverable-collapse.js"></script>
    <script src="/admin-assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/admin-assets/js/file-upload.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>