<%-include('../user/partials/user-header.ejs') -%>

	
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/home-assets/image/w6.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Cartlon watch history begins with creation of a Cartlon gold watch with first natural black rubber bracelet, first of its’ kind in watchmaking history. This watch obtained a huge commercial success, and managed to become an inspiration for a watch making style but, not to mention it soon became one of the favorite and unmissable fashion accessories, alongside the world’s most luxurious high-fashion brands. 

							All of this resulted with the Cartlon company becoming famous all around the globe – marking the birth of the Cartlon brand, whose name was inspired by the original Cartlon watch with a distinctive “hublot” look – which is French for “porthole”.
							
									</p>

						<p class="stext-113 cl6 p-b-26">
							Cartlon history begins with its’ creator – Carlo Crocco, a visionary Italian who first acquired his sense of beauty as a child from a family of watchmakers. He designed his first watch in 1967., and in 1980., he set up he set up the Cartlon company, launching the Cartlon brand into the stratosphere.
							
							Even though the Cartlon company might be considered young in the Swiss watchmaking industry, Cartlon luxury watches belong among the leading giants of the industry in the world, such as Rolex and Omega. 										</p>

						<p class="stext-113 cl6 p-b-26">
							Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="/home-assets/image/w5.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Cartlon watch company resides on one single principle, dubbed as the “art of fusion”. This principle refers to skilful material combinations and clever collection concepts which continually delights the Cartlon consumers, and is responsible for the company’s extraordinary success. 

							Cartlon luxury watches are a mixture of unconventional designs, forged with absolute precision and quality, but what fusion of materials refers to?
							
							Cartlon brand image, strong and unmistakable as it is now, was marked with the launch of a watch that had a gold case paired with a black rubber bracelet – a combination that stirred the waters of the watchmaking world and caused a worldwide sensation.
							
							What stems from the former is simple – gold plus rubber equals fusion. 						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
							</p>

							<span class="stext-111 cl8">
								- Steve Job’s 
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="/home-assets/image/w7.jpg" alt="IMG">
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>	

	<%-include('../user/partials/user-footer.ejs') -%>
